$--rad-normal: rgb(219, 223, 240);
$--rad-hover: rgb(6, 152, 219);
$--rad-selected: rgb(6, 152, 219);
$--rad-disabled: rgb(237, 238, 239);
.radio {
  display: flex;
  position: relative;
  justify-content: stretch;
  align-items: center;
  &:hover {
    & > .check {
      border: 1px solid $--rad-hover;
    }
    & > .title {
      color: $--rad-hover;
    }
    & .dot {
      background-color: $--rad-hover;
      border: 1px solid $--rad-hover;
    }
  }
}
.radio[disabled] {
  & .title {
    color: $--rad-disabled;
  }
  & .dot {
    background-color: $--rad-disabled;
    border: 1px solid $--rad-disabled;
  }
  & .check {
    border: 1px solid $--rad-disabled;
    background-color: $--rad-disabled;
  }

  &:hover {
    & .dot {
      background-color: $--rad-disabled;
      border: 1px solid $--rad-disabled;
    }
    & .check {
      border: 1px solid $--rad-disabled;
    }
  }
}
.check {
  height: 20px;
  width: 20px;
  min-width: 20px;
  min-height: 20px;

  border-radius: 50%;
  border: 1px solid $--rad-normal;
  &.selected:not(.disabled) {
    border: 1px solid $--rad-selected;
    & .dot {
      background-color: $--rad-selected;
      border: 1px solid $--rad-selected;
    }
  }
}
.dot {
  position: relative;
  top: 50%;
  left: 50%;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  border: 1px solid $--rad-normal;
  transform: translate(-50%, -50%);
  background-color: $--rad-normal;
  // opacity: 0;
}
.title {
  margin-left: 0.5rem;
}
