$--input-border-clr: rgb(218, 222, 240);
$--input-text-clr: rgb(184, 190, 216);
$--input-disabled-bg: rgb(237, 238, 239);
$--input-error-clr: rgb(255, 30, 56);
$--input-focus-clr: #8288a2;

.input {
  margin-bottom: 1rem;
  width: 100%;
}
.input > input,
.input > textarea {
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid $--input-border-clr;
  outline: none;
  color: black;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
  &::placeholder {
    color: $--input-text-clr;
  }
  &:disabled {
    border: none;
    background-color: $--input-disabled-bg;
  }
  &[error='true'] {
    border: 1px solid $--input-error-clr;
  }
  &:focus {
    border: 1px solid $--input-focus-clr;
  }
}
.input > textarea {
  height: 8rem;
}
.title {
  font-size: 14px;
  margin-bottom: 0.5rem;
}
.error {
  color: $--input-error-clr;
  font-size: 12px;
}
