#app {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 14px;
  background-color: f6f6f6;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}
h1 {
  padding: 0 100px;
}
input {
  width: 100%;
}
.delivery__checked {
  display: flex;
  padding: 41px 0px;
}
.delivery__sent {
  display: flex;
  justify-content: flex-end;
  padding: 41px 0px;
}
.form1 {
  padding: 0;
  margin: 0;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'fio tel'
    'adr adr'
    'com com'
    'com com'
    'emp but';
  & > .input:nth-child(3) {
    grid-area: adr;
  }
  & > .input:nth-child(4) {
    grid-area: com;
    height: 10rem;
  }
  & > .button {
    position: relative;
    grid-column: 2/3;
    justify-self: end;
  }
}
.delivery {
  display: flex;
  flex-direction: column;
}
@media (max-width: 622px) {
  h1 {
    font-size: 4.5vw;
    padding: 0;
    text-align: center;
  }
}
