.wrap {
  // width: 100%;
  overflow: hidden;
  height: 547px;
}
.list {
  display: flex;
  justify-content: flex-end;
  padding: 41px 0px;
}
@media (max-width: 768px) {
  .list {
    padding: 0;
    flex-direction: column;
    & > .radio {
      margin-bottom: 24px;
    }
  }
}
